*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* pallete */
:root {
  --grey-50: #656266;
  --grey-100: #616161;
  --grey-200: #322f33;
  --grey-300: #1c181d;
  --light: #e3e3e3;
  --stroke-50: #ebebeb;
  /* --mid: #616161; */
  /* --dark: #475467; */
  --white: #ffffff;
  --pressed: #f0f0f0;
  --hover: #f7f7f7;
  --focused-outline: #005bd3;
  --bg: #f1f1f1;
}

body {
  background: var(--bg);
  font-family: Inter;
}

/* nav-styling */
nav {
  width: 100%;
  background: var(--grey-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}
a {
  text-decoration: none;
}
.logo > a {
  color: var(--white);
}
/* search-box */
.search_box {
  position: relative;
  /* flex: 0.8; */
  width: 490px;
}
.search_box > input[type="text"] {
  width: 100%;
  padding: 0.45rem 2.3rem;
  outline: none;
  border-radius: 8px;
  background: var(--grey-200);
  /* border: none; */
  border: 1px solid var(--grey-100);
  color: white;
}
.search_box > input::placeholder {
  color: #b5b5b5;
  font-family: Inter;
}
.search_icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* notifications */
div.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* justify-content: space-between; */
}
.notifications_bell {
  /* background: var(--grey-200); */
  padding: 6px;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
  /* outline: 2px solid transparent; */
  /* box-shadow: 0px 0px 0px 1.5px transparent, 0px 0px 0px 3px transparent,
    0px 0px 0px 2px var(--focused-outline); */
}
/* //for-nav-toggle */

.notify {
  background: var(--white);
  position: absolute;
  top: 75px;
  right: 20px;
  z-index: 100;
  width: 380px;
  padding: 15px;
  background: var(--white);
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  display: none;
}

.notifyShow {
  display: block;
}
.login_drpdnn_show {
  display: block !important;
}
.notify_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notify_label > div:first-of-type {
  font-size: 14px;
  font-weight: 500;
}
.notify_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.notify_buttons > button:not(:last-of-type) {
  padding: 3px;
}
.notify_buttons > button {
  all: unset;
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
}
.notifies {
  padding-top: 20px;
}
.notifies_text {
  padding: 12px;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: var(--grey-100);
  background: var(--light);
}

/* login-dropdown */
.login_dropdwn {
  background: var(--white);
  position: absolute;
  top: 75px;
  right: 20px;
  z-index: 100;
  width: 380px;
  padding: 8px;
  background: var(--white);
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  /* overflow-y: none !important; */
  overflow-x: hidden;
  display: none;
}
/* //toggle-func-for-display */
.login_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
  padding: 8px;
  border-radius: 14px;
}

.login_mark {
  margin-right: 10px;
}

.login_davii {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login_davii .name_login {
  font-size: 13px;
  font-weight: 500;
  color: #303030;
}
.all_stores {
  margin-top: 10px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  /* background: var(--light); */
  padding: 6px;
}
.stroke_line {
  margin-top: 8px;
  margin-left: -10px;
  width: calc(350px + 50px);
  height: 0px;
  border: 0.75px solid #e1e1e1;
}
.login_store {
  font-size: 13px;
  color: #303030;
}
.login_name {
  color: var(--light);
  position: relative;
  display: block;
  cursor: pointer;
}
.login_name p {
  font-size: 12px;
  line-height: 130%;
  background: var(--grey-200);
  border-radius: 8px;
  padding: 10px 35px 10px 8px;
  /* outline: 2px solid transparent; */
}
.more_nav {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.2px;
  /* justify-content: ; */
}
.more_nav a {
  color: #303030;
  display: block;
  padding: 8px;
  /* background: red; */
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
}
.login_logo {
  position: absolute;
  right: 2px;
  bottom: 6px;
  color: var(--grey-200);
  background: #36fba1;
  display: inline;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.mail_info p:first-of-type {
  font-size: 13px;
  font-weight: 500;
}
.mail_info > div {
  display: block;
  padding: 8px;
  line-height: 120%;
}
.mail_info p {
  font-size: 12px;
}
/* Code For mobile device notification */
.login_name_mobile {
  display: none;
  cursor: pointer;
}
.login_logo_mobile {
  color: var(--grey-200);
  background: #36fba1;
  display: inline;
  padding: 8px 6px;
  font-size: 12px;
  border-radius: 5px;
}
/* ends here */

/* hero-layouts */
.hero-layout {
  margin: 1.4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.trial_tip > .trial_text {
  font-size: 13px;
  color: var(--stroke-50);
  font-weight: 500;
}
.trial_tip {
  background: var(--grey-300);
  color: var(--light);
  padding: 0.6rem 0.9rem;
  border-radius: 8px;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.trial_tip .trial_text {
  font-size: 15px;
}
.trial_tip button {
  color: var(--grey-200);
  background: var(--white);
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 12px;
  font-family: Inter;
  font-weight: bold;
  cursor: pointer;
}
.trial_btn_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

/* Main-Layout */

.main-hero {
  background: var(--white);
  margin-top: 1em;
  padding: 1rem;
  width: 100%;
  border-radius: 18px;
}
.main-hero .set_up_guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 0.85rem; */
}
.set_up_guide h5 {
  font-size: 14px;
}
.tip_guide {
  padding-top: 3px;
  margin-top: 3px;
  font-size: 13px;
}
.progress-tracker {
  /* padding-left: 0.85rem; */
  padding-top: 8px;
  margin-top: 5px;
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.progress-tracker_count {
  font-size: 12px;
}
.bar_tracker {
  background: var(--light);
  width: 72px;
  height: 4px;
  position: relative;
  border-radius: 28px;
}
.progress_bar {
  position: absolute;
  /* width: 5%; */
  height: inherit;
  background: var(--grey-300);
  border-radius: inherit;
  transition: all 350ms ease-in-out;
}
#toggle_expand {
  background: transparent;
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 200ms ease-in-out;
  transform: rotate(0.5turn);
}

/* toggle-class-for-expanding-button */
.rotate_toggle {
  transform: rotate(0deg) !important;
}

/* option_fields */
.option_fields_general {
  padding-top: 1.2em;
  /* padding-bottom: 0.8rem; */
  display: block;
}
/* toggle-class-for-option_fields_general */
.toggle_display {
  display: none;
}

/* option-1 */
.option1_wrapper {
  /* background: var(--light); */
  padding-top: 0.5rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 2px;
}

.option1_wrapper:last-of-type {
  padding-bottom: 1rem;
}
.option1_wrapper:hover {
  background: #f3f3f3;
}
/* .option1_wrapper:last-of-type {
  padding-bottom: 5px !important;
} */
.add_bg {
  background: #f3f3f3;
}
/* @keyframes Wrap {
  from {
    opacity: 0;
    transform: scaleY(-40deg);
  }
  to {
    opacity: 0.5;
    transform: scale(0deg);
  }
} */
.option_1_index {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  /* animation: Wrap 400ms ease-in-out; */
}

.option_label {
  font-size: 13px;
  font-weight: bold;
}

.svg_input {
  cursor: pointer;
}
.svg_input:hover #crc {
  stroke-dasharray: 0;
  fill: var(--light);
}

/* latly-checked- */
.lastchecked {
  display: none;
}

.show {
  display: block;
}
.rolling_svg {
  display: none;
  animation: roller 300ms ease-in-out 1;
}
@keyframes roller {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.scale {
  animation: scale 300ms ease-in-out 1;
}
@keyframes scale {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}

/* for-checked-btn toggle */
.roll {
  display: block;
}
.fade_in {
  display: none;
}
.helper_box {
  display: none;
  justify-content: space-between;
  gap: 1rem;
  padding-left: calc(30px + 3px);
  padding-top: 0.2rem;
}
.opt_one {
  display: flex;
}
/* .opt_two {
  display: none;
}
.opt_three {
  display: none;
}
.opt_four {
  display: none;
}
.opt_five {
  display: none;
} */
/* .helper_text {
  /* padding-left: calc(30px + 3px); 
} */
.helper_text_p {
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}

/* learn-more-button */
.learn_more {
  /* display: block; */
  /* padding-top: 0.2rem; */
  color: var(--focused-outline);
  font-size: 14px;
  font-weight: bold;
}

.action_btn {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.action_btn > a {
  /* all: unset; */
  display: inline-block;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: var(--white);
  background: #404040;
  padding: 0.375rem 0.75rem;
  border-width: 1.5px 1.5px 0px 1.5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 0px #000000, 0px 1px 0px 1.5px #333333,
    0px 0px 0px 1.5px #333333;
  border-radius: 6px;
  user-select: none;
}

.import_flex > a:last-of-type {
  background: transparent;
  color: black;
  border-color: transparent;
  box-shadow: unset;
}

/* Only device with mouse-hover */
@media (hover) {
  :is(.import_flex > a:last-of-type):hover {
    background: #fafafa;
    border-color: var(--white);
  }
}
.display_images {
  position: relative;
}
.display_images > img {
  margin-top: -30px;
}
.gutter_image {
  background: linear-gradient(0deg, #f3f3f3, #f3f3f3 60%, #fff0 100%);
  bottom: 0;
  height: 30%;
  position: absolute;
  right: 12;
  width: 85%;
}
/* #656626 */

/* Event-States-For-buttons */
@media (hover) {
  .login_info:hover .login_name > p {
    background: var(--grey-100);
  }
}
/* pressed-state */
.login_info:active .login_name > p {
  background: var(--grey-50);
}
.login_info:focus {
  outline: none;
}
/* focused-state */
.login_info:focus-visible .login_name > p {
  outline: none;
  /* outline: 2px solid var(--focused-outline); */
  box-shadow: 0px 0px 0px 1.5px transparent, 0px 0px 0px 3px transparent,
    0px 0px 0px 2px var(--focused-outline);
  background: var(--grey-50);
}

.login_info:focus-visible .login_logo_mobile {
  box-shadow: 0px 0px 0px 1.5px transparent, 0px 0px 0px 3px transparent,
    0px 0px 0px 2px var(--focused-outline);
  /* background: var(--grey-50); */
}
/* input-search-box-states */
@media (hover) {
  .search_box > input[type="text"]:hover {
    background: var(--grey-200);
    border: 1px solid #e1e1e1;
  }
}
.search_box > input[type="text"]:active {
  background: var(--grey-200);
  border: 2px solid var(--white);
}
.search_box > input[type="text"]:focus-visible {
  background: var(--grey-200);
  border: 2px solid var(--white);
}

@media (hover) {
  .action_btn > a:first-child:hover {
    background: #2a2a2a;
  }
}
.action_btn > a:first-child:active {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333333, inset 0px 3px 0px #000000;
}
.action_btn > a:first-child:focus-visible {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 1.5px #333333, 0px 0px 0px 3px var(--white),
    0px 0px 0px 5px var(--focused-outline);
}

@media (hover) {
  .notifications_bell:hover {
    background: var(--grey-100);
  }
}

.notifications_bell:active {
  background: var(--grey-50);
}

.notifications_bell:focus-visible {
  outline: none; /* Remove the default focus outline */
  /* outline: 2px solid var(--focused-outline); */
  box-shadow: 0px 0px 0px 1.5px transparent, 0px 0px 0px 3px transparent,
    0px 0px 0px 2px var(--focused-outline);
  background: var(--grey-50);
}

@media (hover) {
  .notify_buttons > button:hover,
  .notify_buttons > button:active {
    background: var(--pressed);
  }
}
.notify_buttons > button:focus-visible,
.notify_buttons > button:focus-visible {
  border: 1px solid var(--focused-outline);
}
/* border: 1px solid #005BD3; */
@media (hover) {
  .more_nav a:hover,
  .all_stores:hover {
    background: var(--hover);
  }
}
.more_nav a:active,
.all_stores:active {
  background: var(--pressed);
}
.more_nav a:focus-visible,
.all_stores:focus-visible {
  outline: 2px solid var(--focused-outline);
}

@media (hover) {
  #plan:hover {
    background: var(--pressed);
  }
}

#plan:active {
  box-shadow: 0rem 0.125rem 0.0625rem 0rem #1a1a1a33 inset,
    0.0625rem 0rem 0.0625rem 0rem #1a1a1a1f inset,
    -0.0625rem 0rem 0.0625rem 0rem #1a1a1a1f inset;
  background: var(--hover);
}

#plan:focus-visible {
  box-shadow: 0px 0px 0px 1.5px transparent, 0px 0px 0px 3px transparent,
    0px 0px 0px 3px var(--focused-outline);
}
#del {
  /* padding: px; */
  background: transparent;
  border-radius: 3px;
  fill: #fff;
  transition: fill 350ms ease-in-out;
}

@media (hover) {
  #del:hover,
  #del:active {
    fill: #e0f0ff;
  }
}

@media (hover) {
  #toggle_expand:hover,
  #toggle_expand:active {
    background: var(--light);
  }
}

@media (hover) {
  .learn_more:hover {
    text-decoration: underline;
  }
}
#del:focus,
#toggle_expand:focus {
  outline: none;
}

#del:focus-visible,
#toggle_expand:focus-visible {
  outline: 2px solid var(--focused-outline);
}
.initial_hov,
.rolling_svg {
  background: transparent;
  border-radius: 4px;
  /* padding: 3px; */
}
.initial_hov:focus {
  outline: none;
}
.initial_hov:focus-visible {
  outline: 2px solid var(--focused-outline);
}

/* Responsiveness */
@media only screen and (max-width: 820px) {
  .login_name {
    display: none;
  }
  .login_name_mobile {
    display: block;
  }
}

@media only screen and (max-width: 730px) {
  .search_box {
    width: unset;
    flex: 0.9;
  }
}

@media only screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  .display_images {
    display: none;
  }
  .helper_box {
    margin-bottom: 5px;
  }
  .option1_wrapper:last-of-type {
    padding-bottom: calc(1rem - 0.5rem);
  }
  .trial_tip {
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
    column-gap: 0px;
    position: relative;
  }
  #del {
    position: absolute;
    right: 0;
    top: 30%;
    margin-right: 0.9rem;
    transform: translate(-50%, -50%);
  }
  .trial_tip,
  .main-hero {
    border-radius: unset;
  }
}

@media only screen and (max-width: 530px) {
  .hide {
    display: none;
  }
  html {
    font-size: 90%;
  }
  .login_dropdwn,
  .notify {
    width: 350px;
  }
}

@media only screen and (max-width: 515px) {
  .trial_tip > .trial_text {
    max-width: 320px;
  }
  #del {
    margin-right: 0.6rem;
  }
}

@media only screen and (max-width: 400px) {
  .trial_tip > .trial_text {
    max-width: 270px;
  }
}
